* {
  border: solid 1px;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  color: white;
  background-color: black;
}

div.container {
  margin: 0;
  padding: 0;
  align-self: auto;
}

img.logo {
  width: 15%;
  height: 15%;
}

/* #game-zone {
  align-self: auto;
} */

div.stars {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}